table {
  width: 100%;
}

.products {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.product-item {
  font-size: small;
}
.product-icon {
  font-size: small;
}

.customer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.customer-small-text {
  font-size: small;
}
